{% extends "base.html" %}

{% block title %}Details{% endblock %}

{% block content %}
  <h2>Request Details</h2>
  <form action = "{% url 'core:submit' RequestID %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>     <button onclick="DeleteButton()" type="button">Delete Request</button>
  </form>

<script>
function DeleteButton(){
  if (confirm("Confirm deleting game request?") == true){
    window.location = '{% url 'core:delete' RequestID %}'
    }
  }
</script>
{% endblock %}



